body {
    font: 15px/1.5 Arial, Lato;
    padding: 0;
    margin: 0;
    background-color: rgb(0, 153, 51);
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*  Global  */
header {
    background: black;

    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: yellow;
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 0.05em;
    font-weight: bold;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
    justify-content: space-around;
    flex-direction: row;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
    padding: 0;
}

header nav {
    display: inline;
    flex-direction: row;
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

header .highlight,
header .current a {
    color: green;
}

header a:hover {

    letter-spacing: 0.1em;
}

.showcase {
    min-height: 80vh;
    background: url("../images/home.jpeg") no-repeat center 0.1px;
}

#clubethos {
    display: flex;
    flex-wrap: nowrap;
    /* To wrap the items to a new line when the container becomes too narrow */
    justify-content: space-between;
    /* To distribute the items with equal spacing between them */
}

#left-about {
    padding-top: 30px;
    width: 33%;
    padding-left: 8%;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    text-align: center;
}

#center-about {
    width: 33%;
    margin: 0 auto;
    padding-top: 50px;
    margin-right: 12%;

}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    flex: none;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;

}

#circle-cover-bg {
    background: url("../images/wepik-export-202308081734538zqe.jpeg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
    align-items: center;

}

/* Sign up now...*/

a {
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

/* Add hover effect */
a:hover {
    text-decoration: underline;
    color: gold;
    font-weight: bold;
}

/* footer */

footer {
    background-color: black;
    border-top: #e8491d 3px solid;

    color: #fff;

    padding: 20px;
    padding-bottom: 20px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media Query for tablet and mobile views */
@media (max-width: 768px) {

    /* Center align the header items */
    header {
        text-align: center;
    }

    .container {
        width: 90%;
        text-align: center;
        display: block;
        padding: 10px 0;
        text-align: center;
    }

    /* Adjust header navigation links */
    header ul {
        margin-top: 20px;
    }

    /* Adjust header h1 */
    header h1 {
        font-size: 24px;
        text-align: center;
    }

    /* Remove the float from header branding */
    #branding {
        float: none;
        margin: 20px 0;
    }

    /* Adjust header navigation links */
    header li {
        display: block;
        text-align: center;
        padding: 10px 0px;
    }

    .showcase {
        width: 100%;
        background-size: cover;
        background-position: center center;
    }

    #clubethos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    #left-about,
    #right-about,
    #center-about {
        width: 100%;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    #center-about {
        margin: 20px 0;
    }

    .left-about-heading,
    .right-about-heading {
        width: 100%;
        float: none;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .right-about-heading h2,
    .right-about-heading p {
        text-align: center;
    }

    #circle-container {
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        border-radius: 50%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #circle-cover-bg {
        background-size: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    hr {
        border-top: 1px solid #3a3a3a;
        width: 60%;
        margin: 10px auto;
    }

    /* Add hover effect */
    a:hover {
        text-decoration: underline;
        color: gold;
        font-weight: bold;
    }
}

/* end of media query */